[Unit]
Description=GoDDNS
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=igor
Environment=GOPATH=/your/go/path
WorkingDirectory=/your/go/path/src/github.com/igormp/GoDDNS
ExecStart=go run main.go
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
