[Unit]
Description=Update your registrar's DNS records dynamically
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=igor
WorkingDirectory=/home/USER/$GOPATH/bin
ExecStart=GoDDNS
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
